body {font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
   }
     
p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
a{text-decoration: none;}

.container {
    max-width: 1158px;
    padding: 0 15px;  
    margin: 0 auto;
    flex-wrap: wrap;}
img {
    display: block;
    }

  
    /*---------------header--------------------*/
 
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
    
}
.header-logo-studio {color: #2e2f42;}

.header-menu-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu-link {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-contacts-list {
    display: flex;
    align-items: center; 
    gap: 40px;
}

.header-menu-item .header-menu-link:hover,  
.header-menu-item .header-menu-link:focus {
    color: #404bbf;
    }
    
    .header-contacts {
        font-style: normal
    }
.header-contacts-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-left: auto;
         }
    .header-contacts .header-contacts-link:hover,
    .header-contacts .header-contacts-link:focus {
        color: #404bbf
    }
        /*---------------effective--------------------*/
        
    
    .effective {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
    .effective-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    display: block;
    color: #fff;
    max-width: 496px;
    height: 120px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    
}

.main-btn {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4D5AE5;
cursor: pointer;
min-width: 169px;
height: 56px;
display: block;
border: none;
margin: 0 auto;
text-align: center;
border-radius: 4px; 
}
.main-btn:hover, .main-btn:focus {
    background-color: #404BBF;
    border-radius: 4%;
}

/*---------------features--------------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.features {
    padding-top: 120px;
    padding-bottom: 120px;

    }
    .features-list {
        display: flex;
        align-items: center; 
        gap: 24px;
    }
    .features-item{
       
        width: calc((100% - 3*24px)/4);
        padding-left: 0;
        margin: 0;
    }
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    }
.features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*---------------team--------------------*/
.team {
background-color: #F4F4FD;
padding-top: 120px;
padding-bottom: 120px;
}
   
.team-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    width: calc((1440 - 3*24px)/4);
}
.team-list {
    display: flex;
    align-items: center; 
    gap: 24px;
    
}
.name {
    padding: 32px 0px;



}
.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.team-sub-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/*---------------portfolio-----------------*/
.portfolio {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-list {
width: calc((1128 - 2*24px)/3);
}
.portfolio-list {
    display: flex;
    align-items: center; 
   
    gap: 48px 24px;
    flex-wrap: wrap;
}
.portfolio-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}

.portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}
.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


/*---------------footer--------------------*/

footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px; 
}

.footer-logo-studio {
    color: #f4f4fd;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    height: 72;
}



